@model CustomerCourseAddPage


<!DOCTYPE html>
<html>
<head>
    <title>Müşteri Ekle</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <h2>Müşteri Ekle</h2>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12">
                <form asp-controller="AdminCustomerCourse" asp-action="AddCustomerCourse">

                    <div class="form-group">
                        <label asp-for="CustomerCourse.Name">Şirket Kursu İsmi:</label>
                        <input asp-for="CustomerCourse.Name" type="text" class="form-control" id="CourseName" required>
                    </div>

                    <div class="form-group">
                        <label asp-for="CustomerCourse.Description">Kurs Müfredatı veya Açıklaması:</label>
                        <textarea asp-for="CustomerCourse.Description" class="form-control" id="Description" required></textarea>
                    </div>

                    <div class="form-check">
                        <label asp-for="CustomerCourse.CourseID" class="form-check-label" for="IsActive">Kurs :</label>
                        <select asp-for="CustomerCourse.CourseID" asp-items="@Model.CourseList" class="form-control" id="IsActive"></select>
                    </div>

                    <div class="form-check">
                        <label asp-for="CustomerCourse.CustomerID" class="form-check-label" for="IsActive">Müşteri :</label>
                        <select asp-for="CustomerCourse.CustomerID" asp-items="@Model.CustomerList" class="form-control" id="IsActive"></select>
                    </div>

                    <div class="form-group">
                        <label asp-for="CustomerCourse.CourseStartDate">Kurs Başlangıç Tarihi:</label>
                        <input asp-for="CustomerCourse.CourseStartDate" type="date" class="form-control" id="CourseStartDate" required>
                    </div>

                    <div class="form-group">
                        <label asp-for="CustomerCourse.CourseEndDate">Kurs Bitiş Tarihi:</label>
                        <input asp-for="CustomerCourse.CourseEndDate" type="date" class="form-control" id="CourseStartDate" required>
                    </div>

                    <div class="form-check">
                        <input asp-for="CustomerCourse.IsActive" type="checkbox" class="form-check-input" id="IsActive">
                        <label asp-for="CustomerCourse.IsActive" class="form-check-label" for="IsActive">Aktif Mi</label>
                    </div>

                    <button type="submit" class="btn btn-primary">Ekle</button>
                </form>
            </div>
        </div>
    </div>


</body>
</html>